---
layout: default
---
{% for poster in site.data.posters %}
<article class="poster">
	<div class="poster__image">
		<noscript>
			<h1 class="poster__title">{{ poster.title }}</h1>
		</noscript>
		<img class="poster__file" src="img/{{ poster.title }}.jpg" alt="{{ poster.alt }}" />
	</div>
	<div class="poster__text">
		<noscript>
			<h2 class="poster__details">Details</h2>
		</noscript>
		<ul class="poster__details-list">
			<li class="poster__title">{{ poster.title }}</li>
			<li class="poster__date">{{ poster.date }}</li>
			<li class="poster__size">{{ poster.width }} x {{ poster.height }}</li>
		</ul>
		<ul class="poster__contact-list">
			{% if site.email %}<li>Corrections: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>{% endif %}
		</ul>
	</div>
</article>
{% endfor %}
