<h1 class="aside__title">Info</h1>
<p><cite>Royal College of Art Poster Archive</cite> is a generative online archive catalogue, which holds several thousand posters from the last 80 Years at the Royal College of Art. The catalogue presents users with a randomly chosen selection of images,
	based upon predefined characteristics, which aims to allow for more of a serendipitous approach towards working with an archival collection. This platform also allows current students at the RCA to upload new work to the archive, as well as comment and
	update the information, to encourage the archive to grow and exist in a new generative platform (to do so please follow the links below). These posters were digitised and catalogued by a small team in the summer of 2017.</p>
<p>This website is primarily for sharing selective information collected for a research project within the Royal College of Art, on student works and material. It is a reference tool and searchable database containing material intended for personal, educational
	and non-commercial purposes such as teaching, research, evaluation and commentary.</p>
<h2>Contact</h2>
<p>If you would like to send comments or questions please do <a href="mailto:{{ site.email }}?subject=RCAPA: Questions & corrections">here</a>.</p>
<p>To upload a poster, as a current Student at the Royal College of Art please do <a href="mailto:{{ site.email }}?subject=RCAPA: Upload">here</a>.</p>
<p>This project is hosted on <a href="https://github.com/rca-poster-archive/rca-poster-archive/">Github</a>, you can <code>fork</code> the project, or join as a contributor, or submit a pull request.</p>
<ul>
	<li>
		<h3>Project Head & Design</h3>
		<span>Thomas Finn</span>
	</li>
	<li>
		<h3>Web Development</h3>
		<span>Jacob Charles Wilson</span>
	</li>
	<li>
		<h3>Typeface</h3>
		<span>La Nord, Raoul Gottschling</span>
	</li>
	<li>
		<h3>Digitising</h3>
		<ul>
			<li>Tom Finn</li>
			<li>Sara Jamshidi</li>
			<li>Richard Doust</li>
			<li>Neil Parkinson</li>
		</ul>
	</li>
</ul>
<p>Royal College of Art Poster Archives confirms that to the best of its knowledge it has the necessary rights to these images and the work represented therein to make them available through an online resource. As a contributor of a poster to the collection
	you understand that you are giving Royal College of Art the right to use and make available the images in the following ways:</p>
<ul>
	<li>Use in schools, universities, colleges and other educational establishments, including use in a thesis, dissertation or similar research</li>
	<li>Public performance, exhibitions or talks lectures</li>
	<li>Use in publications, including print, digital, audio or video DVD/CDROM</li>
	<li>Public reference purposes in libraries, museums & record offices</li>
	<li>Publication world wide on the Internet</li>
	<li>Use on radio or television</li>
</ul>
<h2>Copyright Information</h2>
<small class="footer__copyright">
<p>Royal College of Art <span class="copyright__year">2017</span>.</p>
<p>All Rights Reserved. Content and images may not be reproduced or disseminated without permission.</p>
</small>
