<h1 class="aside__title">Info</h1>
<p>RCA–PA is a collection of posters taken from the Royal College of Art Archives showing the last 80 years of work from Visual Communication students.</p>
<h2>Purpose</h2>
<p>This website is primarily for sharing selective information collected for a research project within the Royal College of Art, on Student works and material. It is a reference tool and searchable database containing material intended for personal, educational and non-commercial purposes such as teaching, research, evaluation and commentary.</p>
<h2>Contact</h2>
<p>If you would like to send comments or questions, please say hello!</p>
<p><a href="mailto:">Example@email.address</a></p>
<p><a href="">Upload A New Poster</a></p>
<p><a href="">Download Guide</a></p>
<h3>Contribute</h3>
<p>This project is hosted on <a href="https://jclwilson.github.com/rca-poster-archive">Github</a>, you can <code>fork</code> the project, or join as a contributor, or submit a pull request.</p>
<h2>Credits</h2>
<ul>
	<li>
		<h3>Project Head</h3>
		<span>Thomas Finn</span>
	</li>
	<li>
		<h3>Web Development</h3>
		<span>Jacob Charles Wilson</span>
	</li>
</ul>
<h2>Copyright Information</h2>
<small class="footer__copyright">
	<p>Royal College of Art <span class="copyright__year"></span></p>
	<p>All Rights Reserved. Content and images may not be reproduced or disseminated without permission.</p>
</small>
