/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, input, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #222222;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

body {
    line-height: 1.1;
    font-size: 22px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Box Sizing */

*, *:before, *:after {
    box-sizing: border-box;
}

@font-face {
    font-family: LaNord;
    src: url(https://jacobcharleswilson.com/rca-poster-archive/assets/fonts/LaNord-SemiLight.otf);
}

body {
    margin: 0 1em 1em 1em;
    font-family: 'LaNord', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

img {
    width: 100%;
}

.body--no-overflow {
    overflow: hidden;
}

.header {
    position: fixed;
    background: #fefefe;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 0.3em;
	z-index: 100;
}

.header>* {
    display: inline;
}

.wrapper {
    margin-top: 2.3em;
    /* Fade in on page load */
    opacity: 1;
    transition: 1s opacity;
}

.wrapper.loading {
    /* Fade in on page load */
    opacity: 0;
    transition: none;
}

.poster__property, .poster__value {
    text-transform: capitalize;
}

.button--link {
    border: none;
    background: inherit;
    font: inherit;
    text-decoration: underline;
}

.info.button--link {
    text-decoration: none;
}

.button--link:hover, .poster:hover {
    cursor: pointer;
}

.info.button--link:hover, .info.button--link:focus, .info.button--active {
    font-style: italic;
}

.main {
    background-color: #fefefe;
}

.wrapper {
    flex: 1;
}

.aside {
    z-index: 9999;
}

.aside__overlay {
    position: fixed;
    background: #fefefe;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate3d(100vw, 0, 0);
    transition: opacity 0.7s ease;
}

.aside__wrapper {
    transform: translate3d(100vw, 0, 0);
    transition: transform 0.7s ease;
    background: #fefefe;
    overflow-y: scroll;
    width: 75vw;
    position: fixed;
    right: 0;
    top: 0;
    word-wrap: break-word;
    padding: 1em;
    height: 100vh;
    z-index: 999;
}

.aside--active .aside__overlay {
    opacity: 0.4;
}

.aside--active .aside__wrapper, .aside--active .aside__overlay {
    transform: translate3d(0, 0, 0);
}

.aside__title {
    display: none;
}

.aside__wrapper p, .aside__wrapper ul, .aside__wrapper small {
    margin-bottom: 1em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.small {
    width: 13%;
    min-width: 16em;
}

.medium {
    width: 23%;
}

.large {
    width: 36%;
}

.poster {
    display: none;
}

.poster--selected {
    display: block;
}

.poster__file {
    display: block;
}

.poster__title {
    word-wrap: break-word;
    margin-top: -3px;
}

.poster__text {
    background-color: #fefefe;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    transition: opacity 0.4s ease, height 0.4s ease;
}

.poster:hover>.poster__title, .poster--active>.poster__title {
    font-style: italic;
}

.poster--active>.poster__text {
    opacity: 1;
    height: 5em;
}

.footer__return-text {
    display: none;
}

.footer__return-link {
    max-width: 10%;
    position: fixed;
    right: 2em;
    bottom: 2em;
    opacity: 0;
    transition: opacity 1s ease;
}

.footer__return-link.headroom--not-top {
    opacity: 1;
}

@media (min-width:40em) {
    .footer__return-link {
        max-width: 2%;
        position: fixed;
        right: 1em;
        bottom: 1em;
    }
}

@media (min-width:60em) {
    .aside__wrapper {
        width: 23%;
    }
}

:focus, :active {outline: none;}
