/* loading */

html {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

html, body {
    /* For the loading indicator to be vertically centered ensure */
    /* the html and body elements take up the full viewport */
    min-height: 100%;
}

html.loading {
    /* Replace #fefefe with the background-color of your choice */
    /* Replace loading.gif with the loading image of your choice */
    background: #fefefe
    /* Ensures that the transition only runs in one direction */
    -webkit-transition: background-color 0;
    transition: background-color 0;
}

body {
    -webkit-transition: opacity 1.5s ease-in;
    transition: opacity 1.5s ease-in;
}

html.loading body {
    /* Make the contents of the body opaque during loading */
    opacity: 0;
    /* Ensures that the transition only runs in one direction */
    -webkit-transition: opacity 0;
    transition: opacity 0;
}


/* END LOADING */

body {
    margin: 1rem;
}

img {
    width: 100%;
}

.header, .header__title, .header__reload, .header__description, .main, .footer {
    margin-bottom: 1rem;
}

.header__title, .header__reload {
    display: inline;
}

.button--link {
    border: none;
    background: inherit;
    font: inherit;
    text-decoration: underline;
}

.button--link:hover, .poster:hover {
    cursor: pointer;
}

.poster {
    position: relative;
    float: left;
}

.small {
    width: 15%;
    min-width: 8rem;
}

.medium {
    width: 33%;
}

.large {
    width: 45%;
}

.poster__image {
    transition: transform 0.4s ease;
}

.poster__text {
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 0.7s ease;
}

.left>.poster__text {
    right: 1rem;
    writing-mode: vertical-rl;
}

.right>.poster__text {
    left: 1rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.poster:hover>.poster__text {
    opacity: 1;
    z-index: 10;
}

.left.poster:hover>.poster__image {
    transform: translate3d(-6rem, 0, 0);
}

.right.poster:hover>.poster__image {
    transform: translate3d(6rem, 0, 0);
}

.footer {
    clear: both;
}
