---
---
<!DOCTYPE html>
<html lang='en-gb'>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% seo %}
		<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
		<base href="{{ site.url }}" />
	</head>
	<body>
		<header id="header" class="header">
			<h1 class="header__title">{{ site.title }}</h1>
			<div class="header__process">
				Selected by <span class="poster__property"></span><span class="poster__value"></span>
			</div>
			<input id="shuffle" class="button--link" type="button" value="Click to change">
			<input id="info" class="button--link" type="button" value="Information">
		</header>
		<div class="wrapper loading">
			<aside class="aside">
				<div class="aside__wrapper">
					{% include about.html %}
				</div>
			</aside>
			<main class="main">
				{{ content }}
			</main>
		</div>
		<footer class="footer">
			<a class="footer__return-link" href="#header"><span class="footer__return-text">Back to top</span><img class="footer__return-icon" src="assets/img/arrow-up.svg"></a>
			<small class="footer__copyright">&copy; Royal College of Art <script>document.write(new Date().getFullYear())</script></small>
		</footer>
		<script src="{{ site.url }}/assets/js/main.js"></script>
		<script src="{{ site.url }}/assets/vendor/lazysizes/lazysizes.min.js"></script>
		<script src="{{ site.url }}/assets/vendor/headroom.js/dist/headroom.min.js"></script>
		<script src="{{ site.url }}/assets/vendor/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
		<script>
			// Initalises reset script
			document.addEventListener("DOMContentLoaded", function(event) {
				resetActive();
			});
		</script>
		<script>
			// grab an element
			var myElement = document.querySelector('.footer__return-link');
			// construct an instance of Headroom, passing the element
			var headroom  = new Headroom(myElement, {
				"offset": 300,
				"tolerance": 5,
			  });
			// initialise
			headroom.init();
		</script>
	</body>
</html>
