---
---
<!DOCTYPE html>
<html lang='en-gb' class="loading">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% seo %}
		<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
		<base href="{{ site.url }}" />
	</head>
	<body>
		<header id="header" class="header">
			<div class="header__row">
				<h1 class="header__title"><a href="{{ site.url }}">{{ site.title }}</a></h1>
				<div class="header__reload">
					<span class="process">Selected by <span id="poster__property"></span><span id="poster__value"></span></span>
					<input id="shuffle" class="button--link" type="button" value="Click to change">
				</div>
			</div>
			<p class="header__description">{{ site.description }}</p>
			<input id="info" class="button--link" type="button" value="Info">
		</header>
		<div class="wrapper">
			<aside class="aside">
				{% include about.html %}
			</aside>
			<main class="main">
				{{ content }}
			</main>
			<footer class="footer">
				<small class="footer__copyright">&copy; Royal College of Arts <script>document.write(new Date().getFullYear())</script></small>
			</footer>
		</div>
		<script src="{{ site.url }}/assets/js/main.js"></script>
		<script src="{{ site.url }}/assets/vendor/lazysizes/lazysizes.min.js" async=""></script>
		<script>
			// Initalises reset script
			document.addEventListener("DOMContentLoaded", function(event) {
				resetActive();
			});
		</script>
	</body>
</html>
