---
---
<!DOCTYPE html>
<html lang='en-gb'>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		{% seo %}
		<link rel="stylesheet" href="{{ site.url }}/assets/css/main.min.css">
		<base href="{{ site.url }}" />
	</head>
	<body id="body">
		<header class="header">
			<h1 class="header__title">{{ site.title }}</h1>
			<div class="header__process">
				Selected by <span class="poster__property"></span><span class="poster__value"></span>
			</div>
			<input id="shuffle" class="button--link poster__shuffle" type="button" value="Click to change">
			<input id="info" class="button--link info aside__toggle" type="button" value="Information">
		</header>
		<div class="wrapper loading">
			<aside class="aside">
				<div class="aside__overlay aside__toggle">

				</div>
				<div class="aside__wrapper">
					{% include about.html %}
				</div>
			</aside>
			<main class="main">
				{{ content }}
			</main>
		</div>
		<footer class="footer">
			<a data-scroll class="footer__return-link" href="#body"><span class="footer__return-text">Back to top</span><img class="footer__return-icon" src="{{ site.url }}/assets/img/arrow-up.svg"></a>
			<small class="footer__copyright">&copy; Royal College of Art <script>document.write(new Date().getFullYear())</script></small>
		</footer>
		<script src="{{ site.url }}/assets/js/main.min.js"></script>
		<script src="{{ site.url }}/assets/vendor/lazysizes/lazysizes.min.js"></script>
		<script src="{{ site.url }}/assets/vendor/headroom.js/dist/headroom.min.js"></script>
		<script src="{{ site.url }}/assets/vendor/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
		<script>
			// Initalises reset script
			document.addEventListener("DOMContentLoaded", function(event) {
				resetSelectedPosters();
			});
		</script>
		<script>
			// Initalises Smooth Scroll script
			smoothScroll.init({
			    // Speed & Easing
			    speed: 500, // Integer. How fast to complete the scroll in milliseconds
			    offset: 0, // Integer or Function returning an integer. How far to offset the scrolling anchor location in pixels
			    easing: 'easeInOutCubic', // Easing pattern to use
			});
		</script>
		<script>
			// grab an element
			var myElement = document.querySelector('.footer__return-link');
			// construct an instance of Headroom, passing the element
			var headroom  = new Headroom(myElement, {
				"offset": 300,
				"tolerance": 5,
			  });
			// initialise
			headroom.init();
		</script>
	</body>
</html>
